.app.dark {
    --bg-color: rgb(0 0 134);
    --interted-bg-color: rgb(114 178 255);
    --primary-color: rgb(0 136 0);
    --secondary-color: rgb(0 150 150);
    --inverted-primary-color: rgb(131 255 131);
    --inverted-color: rgb(0 200 200);
}
